.table-of-contents {
  position: fixed;
  top: 15vh;
  right: 1em;
  width: 20vw;
  padding: 2em 1em 1em 0;
  font-size: 0.90rem;
  border-radius: 1.5em;
  background-color: rgba(30, 37, 50, 0.8);
}

.table-of-contents:before {
  content: "Contents";
  position: absolute;
  top: 1rem;
  left: 0.75rem;
  font-size: 1.25rem;
  color: rgba(255, 208, 42, 0.9);
  border-bottom: 1px solid rgba(255, 208, 42, 0.6);
}

.table-of-contents ul {
  list-style-type: none;
}

.page {
  padding: 1rem 2rem;
}

.content {
  width: 50vw;
  padding: 1rem 1rem;
  margin: 0;
}

.sidebar {
  max-width: 20vw;
}
